<div class="app-wrapper">
    <!-- Left Navbar -->
    <div class="navbar-main" [ngClass]="{ 'navbar-collapsed': isCollapsed }">

        <!-- Logo at the top of the navbar -->
        <div class="navbar-logo">
            <img src="assets/images/PGlogo3.png" alt="Logo">  
        </div>

        <!-- Navbar Items -->
        <ul>
            <li *ngFor="let item of navbarItems">
                <div (click)="toggleSubList(item)">
                    <div class="nav-details">
                        <img class="nav-img" width="40px" height="40px" src="{{item.imgpath}}" alt="">
                        <span class="nav-text" (click)="Navigate(item.path)">{{ item.name }}</span>
                        <span *ngIf="item.subList" class="arrow">&#9660;</span>
                    </div>
                </div>
                <ul *ngIf="item.isOpen && item.subList">
                    <li *ngFor="let subItem of item.subList">
                        <div (click)="Navigate(subItem.path)">
                            <div class="nav-details">
                                <img class="nav-img" width="40px" height="40px" src="{{subItem.imgpath}}" alt="">
                                <span class="nav-text" (click)="Navigate(subItem.path)">{{ subItem.name }}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Main Content Area -->
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>