<div>
    <div class="top">
        <div class="blockb">
            <div class="b-inside">
                <div>
                    <label for="">Total users</label>
                    <h1>2345</h1>
                </div>
                <div>
                    <img width="60px" height="60px" src="assets/images/icons/multiple-users-silhouette.png" alt="">
                </div>
            </div>
            <div class="b-bottom">
                <h5 class="txt-danger">{{PendingUserRent}}</h5>
                <h5>users need to pay rent</h5>
            </div>
        </div>
        <div class="blockb">
            <div class="b-inside">
                <div>
                    <label for="">No of Hostels</label>
                    <h1>7</h1>
                </div>
                <div>
                    <img src="assets/images/icons/favicon.ico" alt="">
                </div>
            </div>
            <div class="b-bottom">
                <h5>Hostels Details</h5>
                <a href="">
                    <h5 class="txt-danger">Click here!</h5>
                </a>
            </div>
        </div>
        <div class="blockb">
            <div class="b-inside">
                <div>
                    <label for="">Rent</label>
                    <h1>&#8377;8000</h1>
                </div>
                <div>
                    <img width="60px" height="60px" src="assets\images\icons\rupee-sign.png" alt="">
                </div>
            </div>
            <div class="b-bottom">
                <h5>3 sharing only for</h5>
                <h5 class="txt-danger">&#8377;7000</h5>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="blocka">
            <div class="header">
                <h1>Hostel Details</h1>
            </div>
            <div class="grid">
                <ag-grid-angular
                style="width: 100%; height: 100%;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs">
              </ag-grid-angular>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="blocka">
        </div>
    </div>
</div>